In [1]:
import pandas as pd

## Data Wrangling

In [2]:
df = pd.read_csv('data/raw_news.csv', header=0)

In [3]:
df.shape

(654642, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654642 entries, 0 to 654641
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   type      0 non-null       float64
 1   headline  654642 non-null  object
dtypes: float64(1), object(1)
memory usage: 10.0+ MB

In [5]:
df['headline'] = df['headline'].str.lower()
df.head(10)

   type                                           headline
0   NaN  - german council of economic advisors says cor...
1   NaN  - russia's federal anti-monopoly service says ...
2   NaN  - s&p placed icahn enterprises on credit watch...
3   NaN  -bluemountain capital management says pg&e's "...
4   NaN  -grupo aeroportuario del sureste fined $72.54m...
5   NaN  , galapagos complete sale of biofocus and arge...
6   NaN  : sports direct international reports 5.5% sta...
7   NaN  . kroger option alert: oct 18 $24 calls sweep ...
8   NaN  ....he will be successful, especially as the w...
9   NaN  ..long before they get to our southern border....

In [6]:
df.loc[df['headline'].str.contains('option alert | options | options traded | options activity | covered call | put/call | calls sweep | puts sweep | exercised option | derivatives | futures'), 'type'] = 'options'
df.loc[df['headline'].str.contains("benzinga | benzinga's top | changes for | 52-week | stocks to watch | stocks moving | scheduled for | after-hours session | mid-day session | pre-market session | market update | biggest movers | biggest price target changes | daily | stocks | earnings preview | not seeing any news | volatility | takeaways | talks | says | eye | several | shows | outlook | global | results | peek into | top news | s&p | reasons | things | tweet | tweets"), 'type'] = 'redundant_meaningless' # xx stocks moving
df.loc[df['headline'].str.contains('guidance | guidance estimates | estimates | sales growth | guides | revenue | plans to | sees | affirms | reaffirms | fy'), 'type'] = 'company_guidance'
df.loc[df['headline'].str.contains('purchase of | merge | merger | acquire | acquires | acquired | business sale'), 'type'] = 'merger_acquisition'
df.loc[df['headline'].str.contains('civil action | repurchase | buyback | dividend | partnership | renewal agreement | collaboration | contract | settlement | fda | conference | launches | initiates | unveils | reports | announces | corporate | 13f filing | of its shares | order deal | purchase orders | exercised | exercises | exercise of | 8-k | buy stock | grants | awarded'), 'type'] = 'corporate_action'
df.loc[df['headline'].str.contains('upgrades | downgrades | upgraded | downgraded | price target | pt | initiates coverage | outperform | underperform'), 'type'] = 'analyst_action'
df.loc[df['headline'].str.contains('eps | earnings | beats | beat | consensus | miss estiamtes | misses'), 'type'] = 'earnings'

In [7]:
df['type'].value_counts()

analyst_action           126043
earnings                 108442
corporate_action          87842
redundant_meaningless     58955
company_guidance          20402
merger_acquisition        11674
options                    4655
Name: type, dtype: int64

In [8]:
df['type'].unique()

array(['redundant_meaningless', nan, 'corporate_action', 'earnings',
       'options', 'merger_acquisition', 'company_guidance',
       'analyst_action'], dtype=object)

In [9]:
df.to_csv('data/news_ai.csv', index=0)